@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

html, body {
  background-color: black;
  color: white; /* Optionally, change the text color for readability */
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
}

#__next {
  height: 100%; /* Ensures the Next.js app spans the full height of the screen */
}
